<?xml version='1.0' encoding='utf-8'?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.petpharm.app"
    versionCode = "10"
    version     = "1.0.2" >
    <name>PetPharm</name>
    <description>
        PetPharm App.
    </description>
    <author email="pospino@procaps.com.co" href="http://petpharm.co">
        Pedro Ospino - PetPharm
    </author>
    
    
    

    <content src="index.html" />
   <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <access origin="*" />
    
    
	
<gap:plugin name="com.phonegap.plugins.pushplugin" source="pgb"  />
<gap:plugin name="cordova-plugin-whitelist"  />
<gap:plugin name="org.apache.cordova.camera" source="pgb"  />
<gap:plugin name="org.apache.cordova.device" source="pgb"  />
<gap:plugin name="org.apache.cordova.dialogs" source="pgb"  />
<gap:plugin name="org.apache.cordova.file-transfer" source="pgb"  />
<gap:plugin name="org.apache.cordova.vibration" source="pgb"  />
	
    
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <icon src="icon.png" />
    <splash src="petpharm.9.png" />
    
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    
    <preference name="BackupWebStorage" value="none" />
    
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
