<ion-view >
    <ion-header-bar>
        <h1 class="title">Términos y Condiciones</h1>

    </ion-header-bar>
    <ion-content>
        <form >
            
            <div class="list padding">
                <div class="row">
                    <div class="card padding" style="text-align:justify">
                        <h2 style="text-align: center">TÉRMINOS Y CONDICIONES</h2>

                        <p>El usuario acepta expresamente los Términos y Condiciones, siendo condición esencial para la utilización de la aplicación. En el evento en que NO se encuentre en desacuerdo con estos Términos y Condiciones, solicitamos abandonar la aplicación inmediatamente. Petpharm para modificar los presentes términos y condiciones, avisando a los usuarios de la aplicación mediante publicación en la página web www.petpharm.co o mediante la difusión de las modificación por algún medio electrónico, redes sociales, SMS y/o correo electrónico, lo cual se entenderá aceptado por el usuario si éste continua con el uso de la aplicación.</p>

                        <p>Dando cumplimiento a la Ley Estatutaria 1581 del 2012, por la cual se establece el Régimen General de Protección de Datos y el Decreto Reglamentario 1377 del 2013, solicitamos su autorización para recolectar, almacenar, procesar,  y disponer de los datos que serán suministrados y que se van a  incorporar en nuestra actual base de datos, los cuales serán utilizados para los siguientes propósitos:</p>

                        <ul>
                            <li>Informar sobre servicios y beneficios que provee PETPHARM-Procaps.</li>
                            <li>Evaluar la calidad de nuestros productos/servicios.</li>
                            <li>Realizar estudios sobre las tendencias de los dueños de mascotas.</li>
                            <li>Generar notificaciones a los dueños de mascotas. Los usuarios deberán aceptar nuestros términos y condiciones de la siguiente forma:<br>
                                <ol type="1">                        
                                    <li>Página web: suscribiéndose a nuestro Boletín</li>
                                    <li>Cuando ingresa por primera vez a la plataforma desde un navegador web o desde la aplicación móvil, se emite un mensaje que indica nuestros términos y condiciones donde usted podrá aceptar las siguientes notificaciones:<br>
                                        <ol type="a"> 
                                            <li>Tratamientos.</li>
                                            <li>Control de citas.</li>
                                            <li>Control de vacunas.</li>
                                            <li>Información Productos.</li>
                                            <li>Información eventos.</li>
                                        </ol>
                                    </li>
                                </ol>
                            </li>
                        </ul>

                        <p>Estas actividades las podremos realizar a través de correo físico, electrónico, celular o dispositivo móvil, vía mensajes de texto (SMS  y/o MMS), o a través de cualquier medio análogo y/o digital de comunicación que usted nos suministre.</p>

                        <p>El acceso a la página web de PETPHARM por parte de los usuarios es libre y gratuito.</p>

                        <p>Usted tiene derecho a solicitar en cualquier momento la rectificación, acceso, actualización, modificación y supresión de sus datos personales en nuestra base de datos, en los términos establecidos por la Ley 1581 de 2012, esto a través de cualquiera de nuestros canales de comunicación: línea de atención al cliente, 01-8000-515600, sitio web www.petpharm.co, o por correo electrónico <a href="mailto:petpharm@procaps.com.co">petpharm@procaps.com.co</a>.</p>

                    </div>
                </div>
                <button ng-click="doAccept(1)" class="button button-block button-balanced">Acepto</button>
                <button ng-click="doAccept(0)" class="button button-block button-assertive">No Acepto</button>
            </div>

        </form>
    </ion-content>
</ion-view>
