<ion-view  hide-back-button="true" view-title="{{mascota.nombre}}">

    <div class="tabs tabs-assertive tabs-icon-top">
        <a class="tab-item tabs-positive" href="#/app/mascota/{{mascota.id}}">
            <i class="icon ion-ios-paw"></i>
            Datos
        </a>
        <a class="tab-item" href="#/app/mascotahc/{{mascota.id}}">
            <i class="icon ion-ios-list-outline"></i>H.C.
        </a>
        <a class="tab-item" href="#/app/veterinario/{{mascota.veterinario_id}}/{{mascota.id}}"><i class="icon ion-ios-medkit-outline"></i>Veterinarios</a>
    </div>
    <ion-content class="has-tabs">
        <div class="list card">

            <div class="item item-avatar">
                <img ng-src="img/{{imagen?imagen:'petpharm.png'}}">
                <h2>{{mascota.nombre}}</h2>
                <p>{{mascota.raza}}</p>
            </div>

            <div class="item item-body">
                <p style="text-align:justify">
                    {{mascota.detalles}}
                </p>
                <p>

                </p>


                <p style="font-size:x-small; text-align:justify;">Estos datos se encuentran en PetPharmApp para <b >{{mascota.nombre}}</b>. 
                    Si hay alguna inconsistencia acercate a un punto PetPharm para actualizar los datos.</p>

                <div class="list padding">
                    <div class="row">
                        <div class="card col-50 padding" style="text-align:center">
                            <i class="icon ion-bug"></i>
                            <br />
                            <b>Especie</b>
                            <p>{{mascota.especie}}</p>
                        </div>
                        <div class="card col-50 padding" style="text-align:center">
                            <i class="ion-ios-paw"></i>
                            <br />
                            <b>Sexo</b>
                            <p>{{mascota.sexo== "M"? "MACHO":"HEMBRA"}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="card col-50 padding" style="text-align:center">
                            <i class="ion-android-color-palette"></i>
                            <br />
                            <b>Color</b>
                            <p>{{mascota.color}}</p>
                        </div>
                        <div class="card col-50 padding" style="text-align:center">
                            <i class="ion-arrow-graph-up-right"></i>
                            <br />
                            <b>Tamaño</b>
                            <p>{{mascota.tamano}}</p>

                        </div>
                    </div>
                    <div class="row">
                        <div class="card col-50 padding" style="text-align:center">
                            <i class="ion-android-calendar"></i>
                            <br />
                            <b>Fecha Nac.</b>
                            <p>{{mascota.fecha_nac}}</p>
                        </div>
                        <div class="card col-50 padding" style="text-align:center">

                            <i class="ion-connection-bars"></i>
                            <br />
                            <b>Edad</b>
                            <p>{{mascota.edad}}</p>


                        </div>
                    </div>
                    <div class="row">


                        <div class="card col-50 padding" style="text-align:center">
                            <i class="ion-heart"></i>
                            <br />
                            <b>Esteril</b>
                            <p>{{mascota.esterilizacion}}</p>

                        </div>
                    </div>
                    <div class="row">
                        <div class="card col-50 padding" style="text-align:center">
                            <i class="icon ion-waterdrop"></i>
                            <br />
                            <b>Diabetes</b>
                            <p>{{mascota.diabetis}}</p>
                        </div>
                        <div class="card col-50 padding" style="text-align:center">
                            <i class="ion-ios-monitor"></i>
                            <b>Telemonitoreo</b>
                            <br />
                            <p>{{mascota.telemonitoreo}}</p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
