<ion-view  hide-back-button="true" view-title="{{nombre}}">

    <div class="tabs tabs-assertive tabs-icon-top">
        <a class="tab-item tabs-positive" href="#/app/mascota/{{mascotaId}}">
            <i class="icon ion-ios-paw-outline"></i>
            Datos
        </a>
        <a class="tab-item" href="#/app/mascotahc/{{mascotaId}}">
            <i class="icon ion-ios-list"></i>H.C.
        </a>
        <a class="tab-item" href="#/app/veterinario/{{mascotaId}}/{{mascotaId}}">
            <i class="icon ion-ios-medkit-outline"></i>Veterinarios
        </a>
    </div>
    <ion-content class="has-tabs">
        <div class="list">
            <div class="item item-divider">
                Ananexicos
            </div>
            <a  ng-repeat="dato in datos" ng-if="dato.Tipo == 'a'" class="item item-icon-left" ng-click="open('{{dato.detalle}}','{{dato.fecha}}')">
                <i class="icon ion-medkit"></i>
                {{dato.detalle}}
                <span class="item-note">
                    {{dato.fecha}}
                </span>
            </a>
            <div class="item item-divider">
                Diagnosticos
            </div>
            <a  ng-repeat="dato in datos" ng-if="dato.Tipo == 'd'" class="item item-icon-left" 
                ng-click="open('{{dato.detalle}}','{{dato.fecha}}')">
                <i class="icon ion-thermometer"></i>
                {{dato.detalle}}
                <span class="item-note">
                    {{dato.fecha}}
                </span>
            </a>

        </div>
    </ion-content>
</ion-view>
